// [ ] GULP: Add a map file (preferd) for the minified css files or also provide unminified files for dev.
// Animations
@keyframes homebox-flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
@keyframes homebox-target-region-flash {
  0% {
    background-color: var(--homebox-color-primary-lightest);
    border-color: var(--homebox-border-color-hover);
  }
  100% {
    background-color: var(--homebox-background-color);
    border-color: var(--homebox-border-color);
  }
}

.layout--homebox-personalize {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  outline: 2px dashed var(--homebox-border-color);
  .layout__region {
    --target-region-animation-duration-ms: 1000ms;
    box-sizing: border-box;
    padding: 20px;
    border: 2px dashed var(--homebox-border-color);
    margin: -1px;
    min-height: 20px;
    // Fix growing regions (core laoyuts)
    min-width: 0;
    &.layout__region--current-target {
      // Because of this issue: https://github.com/SortableJS/Sortable/issues/460
      // We cant highlight the current target reliably, because each region
      // hovered while dragging, will get this class and we can remove it only
      // after the Portlet has dropped somewhere.
      // So for now, this style will only persist for a second and then
      // disappear.
      position: relative;
      animation: var(--target-region-animation-duration-ms, 1000ms) linear 0s 1
        running homebox-target-region-flash;
    }
  }
}

.homebox-actions--general {
  // Float the homebox actions (back button) to the left of the portlet actions
  float: left;
  + .homebox-portlet-add {
    clear: none;
    + * {
      clear: left;
    }
  }
}

.homebox-portlet-add {
  .add-homebox-portlet-type-id,
  .add-homebox-portlet-region,
  .add-homebox-portlet-weight,
  .add-homebox-portlet-submit {
    // Ensure to hide the hidden add fields.
    display: none !important;
  }
}

.homebox-portlet-form.ajax-changed {
  // animation: 250ms ease-in-out 0s 2 running homebox-flash;
}

.homebox-portlet__titlebar .homebox-portlet__titlebar-label .ajax-changed {
  // @todo: Replace the asterisk after AJAX Change by a 'saved'-symbol (floppy or something)
  // It may disappear after some secondy?
  --icon-size: 18px;
  --icon-color: var(--homebox-color-primary);
  opacity: 0;
  float: right;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 5px;
  font-size: 0;
  color: transparent;
  mask-image: url("../../images/save.svg");
  background-color: var(--icon-color);
  mask-size: var(--icon-size);
  mask-repeat: no-repeat;
  mask-position: center;
  animation: 500ms ease-in-out 0s 2 running homebox-flash;
}

.homebox-portlet {
  > *:not([class*="homebox-"]) {
    // Hide elements added by admin themes, contrib modules, ...
    // (like claros .claro-details__summary-summary)
    display: none !important;
  }
  &__action {
    // These are button-elements/.button we need to ensure
    // the themes button styles doesn't override our styles.
    // So use !important statements to ensure this.
    --icon-color: var(--homebox-text-color);
    --icon-size: 18px;
    height: var(--icon-size, auto) !important;
    width: var(--icon-size, auto) !important;
    line-height: 1 !important;
    border: 0 none !important;
    padding: 3px 7px !important;
    margin: 0 !important;
    border-radius: 2px !important;
    color: inherit !important;
    background-color: var(--icon-color) !important;
    &:hover {
      --icon-color: var(--homebox-color-primary) !important;
    }
  }
  &__titlebar {
    user-select: none;
    cursor: pointer;
    background: var(--homebox-background-color);
    > *:not([class*="homebox-"]) {
      // Hide elements added by admin themes, contrib modules, ...
      // (like claros .summary)
      display: none !important;
    }
    &-drag-handle {
      --icon-size: 18px;
      flex: 0 0 auto;
      cursor: move;
      user-select: none;
      transition-duration: 80ms;
      transition-property: transform, background-color;
      .homebox-portlet__titlebar:hover & {
        transform: scale(1.3);
      }
    }
    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      + .homebox-portlet__titlebar-color {
        margin-left: 0;
      }
    }
    &-color {
      margin-left: var(--homebox-space-xs);
    }
  }
  &__content {
    max-height: 400px;
  }
  &:hover {
    border-color: var(--homebox-border-color-hover);
    box-shadow: var(--homebox-shadow-small);
    .homebox-portlet__titlebar-drag-handle {
      color: var(--homebox-color-primary);
    }
  }
  // Drag & Drop Formatter
  &.sortable-drag {
    // While dragging
    border-color: var(--homebox-border-color-drag);
    opacity: 0.5;
  }
  &.sortable-chosen {
    // Origin Position (in current region) while dragging
    opacity: 0.5;
    filter: blur(1px);
  }

  &.ui-state-drop {
    // Also: Element while dragging?
  }

  &.disabled {
    // Reduce opacity of disabled (hidden) portlets
    .homebox-portlet__titlebar-label,
    .homebox-portlet__titlebar-color {
      opacity: 0.5;
      filter: grayscale(100%);
    }
    &:not(:hover) {
      opacity: 0.7;
      filter: grayscale(100%);
    }
    &:hover {
      .homebox-icon--eye {
        --icon-color: var(--homebox-color-primary);
        animation: 500ms ease-in-out 0s 3 running homebox-flash;
      }
    }
  }
}

// Layout
.homebox-builder-region {
  .homebox-portlet-form {
    + .homebox-portlet-form {
      margin-top: var(--homebox-space-s);
    }
  }
}
// Prevent the layouts from breaking (this will make the layout
// none-responsive, but it seems extremely confusing, if, for example
// the 4 col layout breaks to two columns in the builder, because the
// builder has a max-width (set by the current theme), which forces
// the flex grid to break.
// Guess the builder is kind of unusable on mobile devices, so, this
// should be fine for now.
.homebox-grid--2-col {
  grid-template-columns: repeat(2, 1fr) !important;
}
.homebox-grid--3-col {
  grid-template-columns: repeat(3, 1fr) !important;
}
.homebox-grid--4-col {
  grid-template-columns: repeat(4, 1fr) !important;
}

.homebox-grid--2-col {
  --grid-cell-count: 2;
}
.homebox-grid--3-col {
  --grid-cell-count: 3;
}
.homebox-grid--4-col {
  --grid-cell-count: 4;
}

// Sidebar / Offcanvas (core dialog with custom homebox classes)
:root {
  --homebox-sidebar-width: 360px;
}
.homebox-sidebar-open {
  padding-right: var(--homebox-sidebar-width);
}
.homebox-sidebar {
  // We have removed the ui-dialog classes, but inline styles are still present
  // so we need to stick with !important statements till
  // https://www.drupal.org/project/homebox/issues/3398605 is fixed
  position: fixed !important;
  // Z-index should be lower then toolbar and settings-tray
  // See: https://www.drupal.org/docs/theming-drupal/z-indexes-in-drupal-8
  z-index: 500 !important;
  display: flex;
  flex-direction: column;
  top: var(--drupal-displace-offset-top, 0px) !important;
  right: 0 !important;
  left: auto !important;
  bottom: 0 !important;
  width: var(--homebox-sidebar-width) !important;
  padding: 0;
  border: 0 none;
  background-color: var(--homebox-color-lighter-gray);
  box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.15) inset;
  &__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: none;
    flex: 0 0 auto;
    padding: 10px 30px;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: var(--homebox-color-light-gray);
    border-style: solid;
  }
  &__title {
    color: var(--homebox-text-color);
    font-size: 1.2666em;
    font-weight: bold;
  }
  &__close {
    --icon-size: 18px;
    --icon-color: var(--homebox-text-color);
    cursor: pointer;
    background: none;
    font-size: 0;
    color: transparent;
    border: 0 none;
    width: 30px;
    height: 30px;
    mask-image: url("../../images/close.svg");
    background-color: var(--icon-color);
    mask-size: var(--icon-size);
    mask-repeat: no-repeat;
    mask-position: center;
    &:hover {
      --icon-color: var(--homebox-color-primary);
    }
    &__title {
      color: var(--homebox-text-color);
    }
    &__content {
      background: none;
      flex: 1 1 auto;
      padding: 20px 30px;
      height: 100% !important;
      max-height: none !important;
      width: 100%;
      overscroll-behavior: contain;
      .ui-icon,
      .ui-button-icon-space {
        display: none;
      }
    }
  }
  &__content {
    background: none;
    flex: 1 1 auto;
    padding: 20px 30px;
    height: 100% !important;
    max-height: none !important;
    width: 100%;
    overflow: scroll;
    overscroll-behavior: contain;
  }
}

.homebox-add-group {
  margin-bottom: var(--homebox-space-m);
  hyphens: auto;
  &__title {
    display: block;
    margin-bottom: var(--homebox-space-s);
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 135px));
    gap: var(--homebox-space-s);
  }
}
.homebox-add-portlet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  position: relative;
  padding: var(--homebox-space-m) var(--homebox-space-s) var(--homebox-space-l);
  text-align: center;
  box-shadow: var(--homebox-shadow-small);
  background-color: white;
  color: var(--homebox-text-color);
  border-radius: 6px;
  hyphens: auto;
  overflow: hidden;
  user-select: none;
  line-height: 1;
  cursor: move;
  &__label {
    font-size: small;
    width: 100%;
    font-weight: normal;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    max-width: 90%;
    aspect-ratio: 1/1;
  }
  &__title {
    font-size: medium;
  }
  &__description {
    font-size: small;
  }
  .homebox-icon--drag {
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
  &:hover {
    box-shadow: var(--homebox-shadow-medium);
    .homebox-add-portlet__label {
      color: var(--homebox-color-primary);
    }
    .homebox-icon--drag {
      --icon-color: var(--homebox-color-primary);
    }
  }
}
