// Use the very smart technique by Mike Herchel for the auto-filling CSS Grid:
// https://css-tricks.com/an-auto-filling-css-grid-with-max-columns

// TODO: 3 column layouts are problematic, if they are on 2 column width
// the third column doesn't grow to full width.

.homebox-layout {
  --grid-layout-gap: var(--homebox-space-m);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-layout-gap);
}
.homebox-grid {
  // Configuration
  --grid-cell-count: 4;
  --grid-cell--min-width: 280px;
  // Calculated values
  --gap-count: calc(var(--grid-cell-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-cell-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-cell--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
.homebox-grid--2-col {
  --grid-cell-count: 2;
}
.homebox-grid--3-col {
  --grid-cell-count: 3;
}
.homebox-grid--4-col {
  --grid-cell-count: 4;
}
