// [ ] GULP: Add a map file (preferd) for the minified css files or also provide unminified files for dev.
// Styles are oriented on the Claro standards:
// https://www.drupal.org/docs/core-modules-and-themes/core-themes/claro-theme/design
:root {
  // Colors
  --homebox-color-primary: #003cc5;
  --homebox-color-primary-light: #e6ecf8;
  --homebox-color-primary-lightest: #f0f5fd;
  --homebox-color-lighter-gray: #fafafa;
  --homebox-color-light-gray: #d8d9e0;
  --homebox-color-gray: #8e929c;
  --homebox-color-focus: #26a769;
  // -- Border Colors
  --homebox-border-color: var(--homebox-color-gray);
  --homebox-border-color-hover: var(--homebox-color-primary);
  --homebox-border-color-drag: var(--homebox-color-focus);
  // -- Background Colors
  --homebox-background-color: white;
  // -- Text Colors
  --homebox-text-color: #2b353b;
  // Shadows
  --homebox-shadow-small: 0 5px 5px rgba(0, 0, 0, 0.1);
  --homebox-shadow-medium: 0 10px 10px rgba(0, 0, 0, 0.1);
  --homebox-shadow-large: 0 20px 20px rgba(0, 0, 0, 0.1);
  // Spacings
  --homebox-space-xs: 8px;
  --homebox-space-s: 12px;
  --homebox-space-m: 16px;
  --homebox-space-l: 24px;
  --homebox-space-xl: 48px;
}

// Core Layouts fixes - add grid gutter (layout_discovery)
// .layout--homebox {
//   --layout-gutter: var(--homebox-space-s);
//   // We need to add a grid gutter - at least to the core layouts, which doesn't
//   // have one, for reasons. This might conflict other layouts, like Bootstrap.
//   margin: calc(var(--layout-gutter) * -1);
//   .layout__region {
//     padding: var(--layout-gutter);
//     // Fix growing regions (core laoyuts)
//     min-width: 0;
//   }
// }

.homebox-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
  > *,
  .button {
    margin: 0 !important;
  }
  .button--back {
    &::before {
      content: "↰";
      margin-right: 0.35em;
    }
  }
  &--general {
    justify-content: start;
  }
}

.layout--homebox {
  .layout__region {
    > .homebox-portlet {
      + .homebox-portlet {
        margin-top: var(--homebox-space-s);
      }
    }
  }

  &-is-preset {
    // @todo: Add a visual indicator that this is using the preset (not personalized)
  }

  &-is-personalized {
    // @todo: Add a visual indicator that this is personalized.
  }
}

.homebox-portlet {
  border: 1px solid var(--homebox-border-color);
  background-color: var(--homebox-background-color);
  transition-duration: 150ms;
  transition-property: box-shadow, border-color, background-color, border-color;
  &__titlebar {
    display: flex;
    align-items: center;
    gap: var(--homebox-space-xs);
    padding: var(--homebox-space-s);
    border-bottom: 1px solid var(--homebox-border-color);
    line-height: 1;
    text-align: left !important;
    &-label {
      min-width: 0;
      overflow: hidden;
    }
    &-color {
      flex: 0 0 auto;
      width: 8px;
      align-self: stretch;
      background: var(--homebox-portlet-color, var(--homebox-color-primary));
      margin: calc(var(--homebox-space-s) * -1)
        calc(var(--homebox-space-s) * -1) calc(var(--homebox-space-s) * -1) auto;
    }
  }
  &__content {
    padding: var(--homebox-space-s);
    overflow: auto;
    overscroll-behavior: none;
  }
}
