/*
  The Homebox default icons are from https://github.com/ant-design/ant-design-icons
  Licence (MIT): https://github.com/ant-design/ant-design-icons/blob/master/LICENSE
*/

.homebox-icon {
  --icon-size: 16px;
  --icon-color: currentColor;
  display: inline-block !important;
  box-sizing: content-box !important;
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--icon-color);
  mask-size: var(--icon-size) !important;
  mask-repeat: no-repeat !important;
  mask-position: center;
  &--size-s {
    --icon-size: 12px;
  }
  &--size-l {
    --icon-size: 24px;
  }
  // Icons
  &--drag {
    mask-image: url('../../images/drag.svg');
  }
  &--eye {
    mask-image: url('../../images/eye.svg');
  }
  &--eye-invisible {
    mask-image: url('../../images/eye-invisible.svg');
  }
  &--delete {
    mask-image: url('../../images/delete.svg');
  }

  // @todo: Add the following icons:
  // .homebox-icon.homebox-icon--personalize
  // .homebox-icon.homebox-icon--add-portlet
  // .homebox-icon.homebox-icon--back
  // .homebox-icon.homebox-icon--reset
}
