{#
/**
 * @file
 * Default theme implementation for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'homebox-layout',
    'layout',
    'layout--4321-stacked',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {# Show a message if the Homebox Layout is personalized or not #}
    {% block homebox_modification_state %}
    {% endblock %}
    {% if content.row_full_first %}
      <div class="homebox-layout__row homebox-layout__row--full-first">
        <div {{ region_attributes.row_full_first.addClass('layout__region', 'layout__region--full-first') }}>
          {{ content.row_full_first }}
        </div>
      </div>
    {% endif %}
    {% if content.row_1_col_1 or content.row_1_col_2 or content.row_1_col_3 or content.row_1_col_4 %}
      <div class="homebox-layout__row homebox-layout__row--1 homebox-grid homebox-grid--4-col">
        {% if content.row_1_col_1 %}
          <div {{ region_attributes.row_1_col_1.addClass('layout__region', 'layout__region--row-1-col-1') }}>
            {{ content.row_1_col_1 }}
          </div>
        {% endif %}
        {% if content.row_1_col_2 %}
          <div {{ region_attributes.row_1_col_2.addClass('layout__region', 'layout__region--row-1-col-2') }}>
            {{ content.row_1_col_2 }}
          </div>
        {% endif %}
        {% if content.row_1_col_3 %}
          <div {{ region_attributes.row_1_col_3.addClass('layout__region', 'layout__region--row-1-col-3') }}>
            {{ content.row_1_col_3 }}
          </div>
        {% endif %}
        {% if content.row_1_col_4 %}
          <div {{ region_attributes.row_1_col_4.addClass('layout__region', 'layout__region--row-1-col-4') }}>
            {{ content.row_1_col_4 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_2_col_1 or content.row_2_col_2 or content.row_2_col_3 %}
      <div class="homebox-layout__row homebox-layout__row--2 homebox-grid homebox-grid--3-col">
        {% if content.row_2_col_1 %}
          <div {{ region_attributes.row_2_col_1.addClass('layout__region', 'layout__region--row-2-col-1') }}>
            {{ content.row_2_col_1 }}
          </div>
        {% endif %}
        {% if content.row_2_col_2 %}
          <div {{ region_attributes.row_2_col_2.addClass('layout__region', 'layout__region--row-2-col-2') }}>
            {{ content.row_2_col_2 }}
          </div>
        {% endif %}
        {% if content.row_2_col_3 %}
          <div {{ region_attributes.row_2_col_3.addClass('layout__region', 'layout__region--row-2-col-3') }}>
            {{ content.row_2_col_3 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_3_col_1 or content.row_3_col_2 %}
      <div class="homebox-layout__row homebox-layout__row--3 homebox-grid homebox-grid--2-col">
        {% if content.row_3_col_1 %}
          <div {{ region_attributes.row_3_col_1.addClass('layout__region', 'layout__region--row-3-col-1') }}>
            {{ content.row_3_col_1 }}
          </div>
        {% endif %}
        {% if content.row_3_col_2 %}
          <div {{ region_attributes.row_3_col_2.addClass('layout__region', 'layout__region--row-3-col-2') }}>
            {{ content.row_3_col_2 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_full_second %}
      <div class="homebox-layout__row homebox-layout__row--full-second">
        <div {{ region_attributes.row_full_second.addClass('layout__region', 'layout__region--full-second') }}>
          {{ content.row_full_second }}
        </div>
      </div>
    {% endif %}
    {% if content.row_4_col_1 or content.row_4_col_2 or content.row_4_col_3 or content.row_4_col_4 %}
      <div class="homebox-layout__row homebox-layout__row--4 homebox-grid homebox-grid--4-col">
        {% if content.row_4_col_1 %}
          <div {{ region_attributes.row_4_col_1.addClass('layout__region', 'layout__region--row-4-col-1') }}>
            {{ content.row_4_col_1 }}
          </div>
        {% endif %}
        {% if content.row_4_col_2 %}
          <div {{ region_attributes.row_4_col_2.addClass('layout__region', 'layout__region--row-4-col-2') }}>
            {{ content.row_4_col_2 }}
          </div>
        {% endif %}
        {% if content.row_4_col_3 %}
          <div {{ region_attributes.row_4_col_3.addClass('layout__region', 'layout__region--row-4-col-3') }}>
            {{ content.row_4_col_3 }}
          </div>
        {% endif %}
        {% if content.row_4_col_4 %}
          <div {{ region_attributes.row_4_col_4.addClass('layout__region', 'layout__region--row-4-col-4') }}>
            {{ content.row_4_col_4 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_5_col_1 or content.row_5_col_2 or content.row_5_col_3 %}
      <div class="homebox-layout__row homebox-layout__row--5 homebox-grid homebox-grid--3-col">
        {% if content.row_5_col_1 %}
          <div {{ region_attributes.row_5_col_1.addClass('layout__region', 'layout__region--row-5-col-1') }}>
            {{ content.row_5_col_1 }}
          </div>
        {% endif %}
        {% if content.row_5_col_2 %}
          <div {{ region_attributes.row_5_col_2.addClass('layout__region', 'layout__region--row-5-col-2') }}>
            {{ content.row_5_col_2 }}
          </div>
        {% endif %}
        {% if content.row_5_col_3 %}
          <div {{ region_attributes.row_5_col_3.addClass('layout__region', 'layout__region--row-5-col-3') }}>
            {{ content.row_5_col_3 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_6_col_1 or content.row_6_col_2 %}
      <div class="homebox-layout__row homebox-layout__row--6 homebox-grid homebox-grid--2-col">
        {% if content.row_6_col_1 %}
          <div {{ region_attributes.row_6_col_1.addClass('layout__region', 'layout__region--row-6-col-1') }}>
            {{ content.row_6_col_1 }}
          </div>
        {% endif %}
        {% if content.row_6_col_2 %}
          <div {{ region_attributes.row_6_col_2.addClass('layout__region', 'layout__region--row-6-col-2') }}>
            {{ content.row_6_col_2 }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if content.row_full_last %}
      <div class="homebox-layout__row homebox-layout__row--full-last">
        <div {{ region_attributes.row_full_last.addClass('layout__region', 'layout__region--full-last') }}>
          {{ content.row_full_last }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
