{#
/**
 * @file
 * Default theme implementation for a homebox portlet.
 *
 * Available variables:
 * - content: The portlet render array.
 * - label: The portlet label.
 * - attributes: The DOM attributes.
 * - plugin_id: The portlet type ID / Plugin ID.
 * - delta: The delta ID of this portlet.
 * - configuration: The portlet configuration array.
 * - type_settings: The homebox portlet type settings.
 * - instance: The portlet plugin instance (object).
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
	'homebox-portlet',
  ('homebox-portlet--type-' ~ plugin_id)|clean_class,
]
%}

{% block portlet %}
  <div {{ attributes.addClass(classes) }}>
    {% if label is not empty %}
      {% block label %}
        <div class="homebox-portlet__titlebar">
          <strong class="homebox-portlet__titlebar-label">
            {{- label -}}
          </strong>
          <span class="homebox-portlet__titlebar-color"></span>
        </div>
      {% endblock label %}
    {% endif %}
    {% block content %}
      <div class="homebox-portlet__content">
        {{ content }}
      </div>
    {% endblock content %}
  </div>
{% endblock portlet %}
