<div class="homebox-add">
  {% if groups is not empty %}
    <div class="homebox-add-groups">
      {% for group,items in groups %}
        <div class="homebox-add-group">
          <strong class="homebox-add-group__title">{{ group }}</strong>
          <div class="homebox-add-group__content">
            {% for item in items %}
              {{ item }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="messages messages--warning">
      <div class="messages__content">
        {{ 'No portlets to add available.'|t }}
      </div>
    </div>
  {% endif %}
</div>
