{#
/**
 * @file
 * Default theme implementation for an 'homebox_button' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<button{{ attributes }}>{{ attributes.value }}</button>{{ children }}
