{#
/**
 * @file
 * Default theme implementation for a homebox portlet edit form container.
 *
 * Available variables:
 * - children: The children form render array.
 * - content: The portlet render array.
 * - label: The portlet label.
 * - attributes: The DOM attributes.
 * - plugin_id: The portlet type ID / Plugin ID.
 * - delta: The delta ID of this portlet.
 * - configuration: The portlet configuration array.
 * - type_settings: The homebox portlet type settings.
 * - instance: The portlet plugin instance (object).
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
	'homebox-portlet__titlebar',
]
%}

{% block titlebar %}
  <summary {{ attributes.addClass(classes).setAttribute('title', 'Show as expanded / collapsed'|t) }}>
    {% if type_settings.draggable %}
      <i class="homebox-portlet__titlebar-drag-handle homebox-icon homebox-icon--drag" title="{{ "Drag this portlet into a layout region"|t }}"></i>
    {% endif %}
    {% if label %}
      {% block label %}
        <strong class="homebox-portlet__titlebar-label">
          {{- label -}}
        </strong>
      {% endblock label %}
    {% endif %}
    <div class="homebox-portlet__titlebar-actions">
      {{ children }}
    </div>
    <span class="homebox-portlet__titlebar-color"></span>
  </summary>
{% endblock titlebar %}
