{%
set classes = [
	'homebox-add-portlet',
  ('homebox-add-portlet--type-' ~ plugin_id)|clean_class,
]
%}
{% if description %}
  {% set attributes = attributes.setAttribute('title', description) %}
{% endif %}

<div{{attributes.addClass(classes)}}>
  {% if add_icon_url %}
    <div class="homebox-add-portlet__icon">
      <img src="{{ add_icon_url }}" alt="{{ 'Homebox Portlet Icon'|t }}">
    </div>
  {% endif %}
  {% if label %}
    <div class="homebox-add-portlet__label">
      {{ label }}
    </div>
  {% endif %}
  {# Optional: Show description (not only as title attribute) #}
  {# {% if description %}
    <div class="homebox-add-portlet__description">
      {{ description }}
    </div>
  {% endif %} #}
  <i class="homebox-add-portlet__drag-handle homebox-icon homebox-icon--drag" title="{{ "Drag this portlet into a layout region"|t }}"></i>
</div>
