{#
/**
 * @file
 * Default theme implementation for a homebox portlet edit form container.
 *
 * Available variables:
 * - children: The children form render array.
 * - content: The portlet render array.
 * - label: The portlet label.
 * - attributes: The DOM attributes.
 * - plugin_id: The portlet type ID / Plugin ID.
 * - delta: The delta ID of this portlet.
 * - configuration: The portlet configuration array.
 * - type_settings: The homebox portlet type settings.
 * - instance: The portlet plugin instance (object).
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
	'homebox-portlet',
  'homebox-portlet--edit',
  ('homebox-portlet--type-' ~ plugin_id)|clean_class,
]
%}

{% block portlet %}
  <details
    {{ attributes.addClass(classes) }}>
    {#
      NOTE: children is special, as it contains the children form elements.
      These are handled differently by Drupal than regular render elements!
    #}
    {{ children }}
  </details>
{% endblock portlet %}
